@model e_Commerce.Muebles.WebAdmin.Models.ProductoModel

@{
    ViewBag.Title = "Detalles del Producto";
}

<h2>Detalles del Producto</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.nombre</dd>

        <dt class="col-sm-2">Descripcion</dt>
        <dd class="col-sm-10">@Model.descripcion</dd>

        <dt class="col-sm-2">Precio</dt>
        <dd class="col-sm-10">@Model.precio</dd>

        <dt class="col-sm-2">Stock</dt>
        <dd class="col-sm-10">@Model.stock</dd>

        <dt class="col-sm-2">Proveedor</dt>
        <dd class="col-sm-10">@Model.proveedor_id</dd>

        <dt class="col-sm-2">Categoria</dt>
        <dd class="col-sm-10">@Model.categoria_id</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.id_producto" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>